<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Busca por participante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel='stylesheet' type='text/css' href='../assets/css/stylepadrao.css'>
    <link rel='stylesheet' type='text/css' href='style.css'>

    <link rel="shortcut icon" href="../assets/imgs/LOGO_SIS_2.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body onload="onLoad()">
    <header>
        <div class="header">
            <a href="../Home - Painel gerencial/index.html">
                <div class="home btn-header">
                    <img src="../assets/imgs/home_white_24dp.svg">
                </div>
            </a>

            <div class="logo">
                <img src="../assets/imgs/LOGO_SIS_2.png">
            </div>

            <a href="javascript:history.back()">
                <div class="rollback btn-header">
                    <img src="../assets/imgs/arrow_back_white_24dp.svg">
                </div>
            </a>
        </div>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row justify-content-evenly mt-4 mb-3">
                <div class="titulo col-xl-4">
                    <h3 class="fw-bold">Busca por participante:</h3>
                </div>
                <div class="col-xl-7 d-flex justify-content-center"> </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-xl-4">
                    <div class="mb-3">
                        <input name="nome" type="text" class="form-control mt-4" placeholder="Nome" id="filtro-nome">
                    </div>
                    <div class="mb-3">
                        <select class="form-select mt-4" id="filtro-programa">
                            <option disabled selected value="0">Programa de Formação</option>
                            <option id="programa" v-bind:value="programa.id" v-for="programa in programas">{{programa.nome}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-select mt-4" id="filtro-status">
                            <option disabled selected value="0">Status</option>
                            <option value="1">Ativo</option>
                            <option value="2">Inativo</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-7" id="participantes">
                    <div class="aviso">
                        <h4 class="titulo fw-bold"> Não foi encontrado nenhum resultado com os parâmetros informados
                        </h4>
                        <button class="mt-3 form-control recarregar" onclick="recarregaLista()"> RECARREGAR
                            LISTA</button>
                    </div>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered tabela mt-4 ">
                            <tbody align="center">
                                <tr id="participante" v-for="participante in participantes">
                                    <th scope="row" width="50">{{participante.id}}</th>
                                    <td id="info-nome">{{participante.nome}}</td>
                                    <td id="info-programa">{{participante.programa}}</td>
                                    <td id="info-status"
                                        v-bind:class="(participante.status == 'Ativo')?'ativo':'inativo'">
                                        {{participante.status}}</td>
                                    <td class="imagem rounded" width="50">
                                        <a href="../Dados do Participante - Cadastro e Edição/index.html">
                                            <img src="../assets/imgs/manage_accounts_white_24dp.svg" alt="Imagem" />
                                        </a>
                                    </td>
                                    <td class="imagem-coluna rounded" width="50">
                                        <a href="../Dados do Participante - Visualização/index.html">
                                            <img src="../assets/imgs/account_circle_white_24dp.svg">
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-xl-4">
                    <button class="mt-5 form-control submit" onclick="filtraDados()">BUSCAR</button>
                </div>
                <div class="col-xl-7 justify-content-end d-flex">
                    <a href="../Dados do Participante - Cadastro e Edição/index.html"
                        class="mt-5 form-control cadastro d-flex justify-content-center"> NOVO CADASTRO </a>
                </div>
            </div>
        </div>
    </main>
    <script src="js/scriptget.js"></script>
    <script src="js/scriptlista.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>